@import "./root";

// aquarium sponge style start : : : : : : : : : : : :
.aquarium {
  transition: all 0.7s ease;
}
// aquarium sponge style End : : : : : : : : : : : :

// add btn and search styles start
.add_btn_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
}
.search_container {
  padding-top: 20px;
  display: none;
  label {
    padding-top: 36px !important;
  }
}
// add btn and search styles end

// add item modal btn start : : : : : : : : : : : : ::
.add_item_btn {
  font-size: 0.8em !important;
}
// add item modal btn end : : : : : : : : : : : : ::

// modal section start : : : : : : : : : : : : ::
.modal {
  z-index: 1058 !important;
}
// modal section end : : : : : : : : : : : : ::

// card and card body start : : : : : : : : : : : : ::
.card {
  width: 300px;
  margin: 30px;
  transition: all 0.7s ease;

  .card-subtitle {
    text-align: center;
    transition: all 0.7s ease;
    font-size: 0.8em;
  }
  .card-text {
    margin: 30px;
    color: #111;
    transition: all 0.7s ease;
  }
  .card_btn_css {
    padding: 3px 15px !important;
  }
  .btn_card_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
.card_anime {
  animation: anime 2s ease 1;
}
@keyframes anime {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }
}
// card and card body end

//  responsive HOME page | | | | | | | | | | | | | |

@media screen and (max-width: 500px) {
  .aquarium {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    .aquarium__table {
      left: unset;
    }
    .aquarium__aquarium {
      left: unset;
    }
    .aquarium__drops {
      left: unset;
    }
    .aquarium__sponge-box {
      left: unset;
    }
  }
  .card {
    width: 260px;
  }
  .add_item_btn {
    font-size: 0.7em !important;
  }
  .menu_container {
    width: 70%;
  }
}
